
<div>
   <h1>Employee Table</h1>
   <table class="table">
      <thead>
         <tr>
            <th scope="col">#ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Department ID</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let item of ItemsArray">
            <td scope="row">{{ item.id }}</td>
            <td scope="row">{{ item.firstName }}</td>
            <td scope="row">{{ item.middleName }}</td>
            <td scope="row">{{ item.lastName}}</td>
            <td scope="row">{{ item.departmentId }}</td>
            <td>
               <button type="button" scope="row" class="btn btn-warning" >Edit</button>&nbsp;
               <button type="submit" scope="row" class="btn btn-danger" (click)="deleteItem(item.id)">Delete</button>
            </td>
         </tr>
         <tr>
           <td></td>
<td><input type="text" class="form-control" placeholder="First Name" [(ngModel)]="firstName" /></td>
<td><input type="text" class="form-control" placeholder="Middle Name"  [(ngModel)]="middleName"/></td>
<td><input type="text" class="form-control" placeholder="Last Name"  [(ngModel)]="lastName" /></td>
<td><input type="number" class="form-control" placeholder="Department Id"  [(ngModel)]="departmentId" /></td>
<td> &nbsp;&nbsp;<button type="button" scope="row" class="btn btn-primary" (click)="postItem()">Add</button>&nbsp;</td>

         </tr>
      </tbody>
   </table>



</div>
