
<div>
  <h1>Department Table</h1>
  <table class="table">
     <thead>
        <tr>
           <th scope="col">#ID</th>
           <th scope="col">Department Name</th>
          <th></th>
        </tr>
     </thead>
     <tbody>
        <tr *ngFor="let item of ItemsArray">
           <td scope="row">{{ item.id }}</td>
           <td scope="row">{{ item.name }}</td>
           <td>
              <button type="button" scope="row" class="btn btn-warning" >Edit</button>&nbsp;
              <button type="submit" scope="row" class="btn btn-danger" (click)="deleteItem(item.id)">Delete</button>
           </td>
        </tr>
        <tr>
          <td></td>
<td><input type="text" class="form-control" placeholder="Department Name" [(ngModel)]="departmentName" /></td>
<td> &nbsp;&nbsp;<button type="button" scope="row" class="btn btn-primary" (click)="postItem()">Add</button>&nbsp;</td>

        </tr>
     </tbody>
  </table>



</div>
